* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f3f7f2;
    color: #333;
}
header {
    background: #198754;
    color: white;
    padding: 25px 40px;
    box-shadow: 0 3px 10px #bbb;
}

header h1 {
    margin: 0;
    font-size: 30px;
}

header p {
    margin: 8px 0 0;
    font-size: 15px;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 35px auto;
}


h1 {
    color: #198754;
    margin-bottom: 25px;
}


.botao {
    display: inline-block;
    background: #ffc107;
    color: #333;
    padding: 13px 22px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 3px 6px #ccc;
    transition: 0.2s;
}

.botao:hover {
    background: #e0a800;
    transform: translateY(-2px);
}

table {
    width: 100%;
    margin-top: 25px;
    background: white;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 12px #d5d5d5;
}

th {
    background: #198754;
    color: white;
    padding: 15px 10px;
    font-size: 14px;
}

td {
    padding: 13px 10px;
    text-align: center;
    border-bottom: 1px solid #eee;
}

tr:hover {
    background: #f1f8f3;
}
td a {
    text-decoration: none;
    font-weight: bold;
}

.editar {
    color: #0d6efd;
    margin-right: 8px;
}

.excluir {
    color: #dc3545;
}
form {
    background: white;
    max-width: 500px;
    margin: 30px auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px #d5d5d5;
    border-top: 5px solid #198754;
}

label {
    display: block;
    margin-bottom: 7px;
    font-weight: bold;
    color: #444;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 18px;
    border: 1px solid #ccc;
    border-radius: 7px;
    font-size: 15px;
}

input:focus {
    outline: none;
    border: 2px solid #198754;
}